
//star styling
.statsrow {
    margin-right:-15px;
}
.statstext #total {
    font-size:50px !important;
}
.icon-a {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}
.icon-b {
    color: orange;
}
.icon-c {
    color: #87CEFA;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7763f7;
}
.icon-d {
    color: #7763f7;
}
.icon-a {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}