.prev {
    border-top: 0 !important;
}
.titles {
    margin-left: 5px;
    color: #3b4d6b;
}

.text-uppercase {
    text-transform: uppercase !important;
    letter-spacing: 0.12em !important;
}
.scroll {
    max-height: 400px;
    overflow-y: auto;
}
.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0 !important;
}
#text-search, .form-control:focus {
    color: white !important;
}
.form-control:focus {
    color: black !important;
}

.text-primary {
    color: white !important;
}
.rounded-pill {
    border-radius: 50rem!important;
}
.border {
    border: 1.5px solid #dee2e6!important;
}
.border-0 {
    border: 0!important;
}
.form-control {
    background: #ffffff00;
    background-color: #ffffff00;
}
.form-control:focus {
    color: white;
    background-color: #ffffff00;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

#test-search {
    float:right;
}
.col-lg-10 {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}
.middle-float {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #F5F5F5;
}

.icon-a {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}
.icon-b {
    color: orange;
}
.icon-c {
    color: #87CEFA;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7763f7;
}
.icon-d {
    color: #7763f7;
}

.icon-e {
    color: pink;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
}

.icon-f {
    color: red;
}
/*.icon-a {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}
*/

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 0.9rem;
}

.text-xsmall {
  font-size: 0.8rem;
}

.text-gray {
  color: #868e96;
}

.text-uppercase {
  letter-spacing: 0.2em;
}

.lh-2 {
  line-height: 2;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden;
}

i {
  display: inline-block;
}

span {
  display: inline-block;
}
.button-color {
    color: white !important;
}

.mt-30px {
  margin-top: 30px !important;
}

.mb-30px {
  margin-bottom: 30px !important;
}
.mb-4 {
    margin-bottom: .25rem !important;
    margin-right: 3rem;
}

i[class*='icon-'] {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

table {
  font-size: 0.9em;
  color: #666;
}

.btn-xs {
  font-size: 0.7em !important;
  padding: 2px 5px !important;
  border-radius: 2px !important;
}

.badge {
  font-weight: 400;
  border-radius: 0;
}

.badge.badge-primary {
  background: #379392;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: calc(100% - 200px);
  background-color: #F5F5F5;
  min-height: 100vh;
  padding-bottom: 50px;
}

.page.active {
  width: calc(100% - 70px);
}

h2 {
  color: #555;
  font-weight: 400;
}

.breadcrumb-holder {
  background: #eceeef;
}

.breadcrumb-holder .breadcrumb {
  padding: 15px 0;
  font-size: 0.85em;
  font-weight: 300;
  color: #999;
  margin-bottom: 0;
}

.breadcrumb-holder .breadcrumb a:hover, .breadcrumb-holder .breadcrumb:focus {
  text-decoration: none;
}

.breadcrumb-holder .breadcrumb .container {
  padding: 0;
}
.calendarrow {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
}

html body .content-wrapper-before {
    width: 100%;
    height: 170px;
    top: 0;
    left:0;
    position: absolute;
    background: linear-gradient(to right, #24c6dc, #514a9d);
    
    z-index: 0;

}

.card {
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
 /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);*/
  border: none;
  box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
  border-radius: 0.5rem;
}
.cardStat {
    border-radius: 2rem;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin-bottom: 0;
}

.card:not([class*="text"]) p {
  color: #888;
}

.display {
  font-weight: 400 !important;
}

.section-padding {
  padding-top: 7rem;
}
.section-padding2 {
  padding-top: 13rem;
}

.section-no-padding-bottom {
  padding-bottom: 0;
}

section header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .container-fluid {
    padding: 0 3rem;
  }
}
#calendar {
    margin: 20px 20px 20px;
}

.match-height {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
}
.list-group-item {
  border-right: 0;
  border-left: 0;
  margin-top: 0rem;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}

.overflow-hidden {
  overflow: hidden;
}
.card-text {
    margin-bottom: .3rem;
}

.tile-link {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

/*NAVBAR*/
nav.navbar {
  
  background: linear-gradient(to right, #24c6dc, #514a9d);
  padding: .8rem 0;
  left: 200px;
  transition-duration: .3s;
}
nav.navbar.show-sm {
    left: 0;
}
nav.navbar.shrink {
  left: 70px;
  text-align: center;
  transition-duration: .3s;
}
.side-navbar.shrink {
  width: 70px;
  text-align: center;
  transition-duration: .3s;
}
.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  width: 200px;
  text-align: left;
  background: white;
  color: black;
  z-index: 999;
  overflow-y: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}


nav.navbar .side-navbar-wrapper {
  width: 100%;
  height: 100%;
  
}

nav.navbar .container-fluid {
  width: 100%;
}

nav.navbar .navbar-holder {
  left:200px;
}
nav.navbar .navbar-holder .shrink {
  left: 70px;
}

nav.navbar a {
  font-size: .8rem;
  color: #fff;
  position: relative;
}

nav.navbar .badge {
  position: absolute;
  top: 0;
  right: 0;
}

nav.navbar a.language span {
  margin-left: .2rem;
  vertical-align: middle;
}

nav.navbar a.logout i {
  margin-left: 5px;
}

nav.navbar small {
  font-size: 0.75rem;
  color: #999;
}

nav.navbar a.navbar-brand {
  margin-left: 10px;
}

nav.navbar .brand-text {
  text-transform: uppercase;
}

nav.navbar .brand-text strong {
  font-size: 1.5em;
}

nav.navbar .nav-menu {
  margin-bottom: 0;
}



nav.navbar .msg-body span,
nav.navbar .msg-body strong {
  display: block;
}

nav.navbar .msg-body span {
  font-size: 0.85em;
}

nav.navbar .msg-profile {
  margin-right: 10px;
  width: 50px;
}

nav.navbar .notification-content {
  font-size: .8rem;
  margin-right: .5rem;
}
/*.fas .fa-bars {

}
*/
nav.navbar a.menu-btn {
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  line-height: 40px;
  background: none;
  color: #fff;
  text-align: center;
  padding: 0 !important;
}

nav.navbar a.menu-btn i[class*='icon-'] {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

nav.navbar a.menu-btn:hover {
  background: none;
}
/*.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  width: 200px;
  text-align: left;
  background: #393836;
  color: #fff;
  z-index: 999;
  overflow-y: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}*/

.side-navbar .scrolled-wrapper {
  width: 100%;
  height: 100%;
}

.side-navbar.hide {
  left: -70px;
}

.side-navbar a.brand-small {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
}

.side-navbar a.brand-small:hover, .side-navbar a.brand-small:focus {
  background: none;
}

.side-navbar a.brand-small strong {
  font-size: 1.5rem;
}

.side-navbar li {
  position: relative;

}

.side-navbar li a {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: #443e78;
  text-decoration: none;
  width: 100%;
  padding: 12px;
}

.side-navbar li a:focus, .side-navbar li a:hover, .side-navbar li a[aria-expanded="true"] {
  background:   #B0E0E6;
  color: #fff;
  text-decoration: none;
}

.side-navbar li a[data-toggle="collapse"]::before {
  content: '\f104';
  display: inline-block;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 20px;
}

.side-navbar li a[aria-expanded="true"]::before {
  content: '\f107';
  color: #fff;
}

.side-navbar li.active > a {
  background: #379392;
}

.side-navbar li li.active > a {
  background: #308080 !important;
}

.side-navbar li ul {
  background: #292929;
  position: relative;
  min-width: 100%;
  left: 0;
  padding-left: 0;
}

.side-navbar li ul a {
  padding-left: 20px;
  font-size: .85rem;
}

.side-navbar li ul.collapse a {
  border-left: 2px solid #379392;
}

.side-navbar li ul.collapse a:hover {
  background: #121212;
}

.side-navbar .sidenav-header {
  background: white;
  padding: 14px;
  margin-bottom: 10px;
}

.side-navbar .sidenav-header img {
  width: 50px;
  height: 50px;
}

.side-navbar .sidenav-header span {
  font-size: 0.8em;
  color: #666;
}

.side-navbar .sidenav-header h2 {
  margin: 10px 0 0;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.side-navbar .sidenav-heading {
  font-weight: 700;
  color: #adb5bd;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-navbar i[class*='icon-'] {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.side-navbar span {
  display: inline-block;
}

.side-navbar i {
  font-size: inherit;
  margin-right: 10px;
}

.side-navbar .badge {
  display: inline-block;
  font-size: 0.6em;
  vertical-align: middle;
}

.side-navbar .logo {
  display: none;
}

/*.side-navbar.shrink {
  width: 70px;
  text-align: center;
}*/

.side-navbar.shrink .logo {
  display: block;
}

.side-navbar.shrink .sidenav-header-inner {
  display: none;
}

.side-navbar.shrink .sidenav-heading {
  margin-left: 0;
  font-size: .8rem;
}

.side-navbar.shrink ul li a {
  font-size: .7rem;
  padding-left: 5px;
  padding-right: 5px;
}

.side-navbar.shrink ul li a[data-toggle="collapse"]::before {
  content: '\f107';
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 0;
  left: auto;
}

.side-navbar.shrink ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
  content: '\f106';
}

.side-navbar.shrink ul li ul a {
  padding-left: 10px;
  font-size: .7rem;
}

.side-navbar.shrink i {
  display: block;
  margin-right: 0;
  font-size: 1rem;
}

.side-navbar.shrink .arrow {
  float: none;
  -webkit-transform: none !important;
  transform: none !important;
}

.side-navbar.shrink .badge {
  display: none;
}
@media (max-width: 1199px) {
  .page {
    width: 100%;
  }
  .page.active {
    width: 100%;
  }
  .page.active-sm {
    width: calc(100% - 70px);
  }
  .side-navbar {
    left: -70px;
    width: 70px;
    text-align: center;
  }
  .side-navbar.show-sm {
    left: 0 !important;
  }


html body .content-wrapper {
    padding: 1.8rem;
}
.list-group {
    width: 450px;
}
#calendar {
    width: 90%;
}
.statsrow {
    margin-right:-15px;
}
.statstext #total {
    font-size:50px !important;
}
.icon-a {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}
.icon-b {
    color: orange;
}
.icon-c {
    color: #87CEFA;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7763f7;
}
.icon-d {
    color: #7763f7;
}
.icon-a {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}
