{% extends 'base2.html' %}
{% block content %}
<head>

<div class="content-wrapper-before">
</div>
<section class="dashboard-counts section-padding">
  <div class="container-fluid">
    <div class="row">

<!-- <div class="content-body">
  <div class="container-fluid">
    <section id="donut_charts">
      <div class="row"> -->


        <div class="col-sm-6 col-sm-6">
          <div class="card">

            <div class="card-body">
              <div class="chart">
              <div class="height-400">
                <canvas id="emotionsChart" width="838" height="800" style="display: block; height: 400px; width: 419px;"></canvas>
                <div id="emotionLegend" class="chart-legend"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-sm-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="chart">
              <div class="height-400">
                <canvas id="charactersChart" width="838" height="800" style="display: block; height: 400px; width: 419px;"></canvas>
                <div id="emotionLegend" class="chart-legend"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row">

        <div class="col-sm-6 col-sm-16">
          <div class="card">

            <div class="card-body">
              <div class="chart">
              <div class="height-400">
                 <canvas id="themesChart" width="838" height="800" style="display: block; height: 400px; width: 419px;"></canvas>
                  <div id="emotionLegend" class="chart-legend"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-16">
          <div class="card">

            <div class="card-body">
              <div class="chart">
              <div class="height-400">
                 <canvas id="settingsChart" width="838" height="800" style="display: block; height: 400px; width: 419px;"></canvas>
                  <div id="emotionLegend" class="chart-legend"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="chart">
                <canvas id="lucidityChart"></canvas>
                <div id="emotionLegend" class="chart-legend"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="chart">
                <canvas id="qualityChart"></canvas>
                <div id="emotionLegend" class="chart-legend"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="chart">
                <canvas id="moodChart"></canvas>
                <div id="emotionLegend" class="chart-legend"></div>
              </div>
            </div>
          </div>
        </div>
    </div>   

  </div>
</section>
</head>



<head>
<!-- <div class="chart">
    <canvas id="emotionsChart"></canvas>
    <div id="emotionLegend" class="chart-legend"></div>
  </div>
  <div class="chart">
    <canvas id="charactersChart"></canvas>
    <div id="emotionLegend" class="chart-legend"></div>
  </div>
  <div class="chart">
    <canvas id="themesChart"></canvas>
    <div id="emotionLegend" class="chart-legend"></div>
  </div>
  <div class="chart">
    <canvas id="settingsChart"></canvas>
    <div id="emotionLegend" class="chart-legend"></div>
  </div>
  <div class="chart">
    <canvas id="lucidityChart"></canvas>
    <div id="emotionLegend" class="chart-legend"></div>
  </div>
  <div class="chart">
    <canvas id="qualityChart"></canvas>
    <div id="emotionLegend" class="chart-legend"></div>
  </div>
  <div class="chart">
    <canvas id="moodChart"></canvas>
    <div id="emotionLegend" class="chart-legend"></div>
  </div>
</head> -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
 <script src="/static/my_script.js"></script>
<!-- 
<script type="text/javascript">

    var emotionsOptions = {
        responsive: true,
        title: {display: true,
                       text: 'Emotions',
                       fontSize: 20}
    };
    
    var charactersOptions = {
    responsive: true,
    title: {display: true,
                       text: 'Characters',
                       fontSize: 20}
    };

    var themesOptions = {
    responsive: true,
    title: {display: true,
                       text: 'Themes',
                       fontSize: 20}
    };

    var settingsOptions = {
    responsive: true,
    title: {display: true,
                       text: 'Settings',
                       fontSize: 20}
    };

    var lucidityOptions = {
        responsive: true,
        title: {display : true,
                    text: 'Lucidity',
                    fontSize: 20

        }
    };

    var qualityOptions = {
        responsive: true,
        title: {display: true,
                            text: 'Sleep Quality',
                            fontSize: 20}
    };

    var moodOptions = {
        // responsive = true,
        title: {display: true,
                            text: 'Mood Awake and Emotions',
                            fontSize: 20},
        scales: {
            xAxes: [{display: true, scaleLabel: {display:true, labelString: 'Date'}}],
            yAxes: [{
                type: 'linear',
                id: 'left-axis',
                display: true,
                position: 'left',
                scaleLabel: {display: true, labelString: 'mood'},
                ticks: {
                    max: 2,
                    min: -2,
                    stepSize: 1
                }
            }, {
                type:'linear',
                id: 'right-axis',
                display: true,
                position: 'right',
                scaleLabel: {display: true, labelString: 'emotion'},
                ticks: {
                    max: 4,
                    min: -4,

                    stepSize: 1
                }
            }]
        }
    };

    var ctx_emotion_donut = $("#emotionsChart").get(0).getContext("2d");
    let ctx_character_donut = $("#charactersChart").get(0).getContext("2d");
    let ctx_theme_donut = $("#themesChart").get(0).getContext("2d");
    let ctx_setting_donut = $("#settingsChart").get(0).getContext("2d");
    let ctx_lucidity_chart = $("#lucidityChart").get(0).getContext("2d");
    let ctx_quality_chart = $("#qualityChart").get(0).getContext("2d");
    let ctx_mood_chart = $("#moodChart").get(0).getContext("2d");


    $.get('/emotions_data.json', function(data){
        let myDonutChart = new Chart(ctx_emotion_donut, {
                                                  type: 'doughnut',
                                                  data: data,
                                                  options: emotionsOptions
                                                });
          // $('#emotionLegend').html(myDonutChart.generateLegend());
    });
    $.get('/characters_data.json', function(data){
        let myDonutChart = new Chart(ctx_character_donut, {
                                                  type: 'doughnut',
                                                  data: data,
                                                  options: charactersOptions
                                                });
    });

    $.get('/themes_data.json', function(data){
        let myDonutChart = new Chart(ctx_theme_donut, {
                                                  type: 'doughnut',
                                                  data: data,
                                                  options: themesOptions
                                                });
    });

    $.get('/settings_data.json', function(data){
        let myDonutChart = new Chart(ctx_setting_donut, {
                                                  type: 'doughnut',
                                                  data: data,
                                                  options: settingsOptions
                                                });
    });

    $.get('/lucidity_data.json', function(data){
        let myLucidChart = new Chart(ctx_lucidity_chart, {
                                                  type: 'line',
                                                  data: data,
                                                  options: lucidityOptions
        });
    });

    $.get('/sleepquality_data.json', function(data){
        let myQualityChart = new Chart(ctx_quality_chart, {
                                                  type: 'line',
                                                  data: data,
                                                  options: qualityOptions
        });
    });

    $.get('/mood_data.json', function(data){
        let myMoodChart = new Chart(ctx_mood_chart, {
                                                  type: 'bar',
                                                  data: data,
                                                  options: moodOptions,

                                                  
        });
    });




</script> -->

{% endblock %}