{% extends 'base.html' %}
{% block content %}

<h1> Entry form </h1>

    <form action="/entryform" method="POST">
        <label>Title</label> <input = type="text" name="title"><br>
        <label>Date</label> <input type="date" name="date"><br>
        <label>Text</label> <textarea name="text_content" rows= "10" cols = "80"></textarea><br>
        <label>Hours Slept</label> <input type="integer" name="hours_slept"><br>
        <label>Mood (awake)</label> <input = type="integer" name="mood_awake"><br>
        <label>Mood (dream)</label><input type="integer" name="mood_sleep"><br>
        <label>Lucidity</label><input type="integer" name="lucidity"><br>
        <label>Lucid Intent</label><input type="integer" name="lucid_intent"><br>
        <input type="submit">
    </form>



{% endblock %}