{% extends 'base2.html' %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content_title %} Blog entries {% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="panel-body">
      <ul class="list-group">
        {% for entry in entries %}
        <li class="list-group-item">
        
            <a href="{{ url_for('show_entry_details', entry_id=entry.entry_id) }}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ entry.title }}</h5></a>
               <button class="btn delete-entry" data-entry-id="{{ entry.entry_id }}"><span class="far fa-trash-alt"></span></button>
            </div>
              <small>{{ entry.date.strftime('%m/%d/%Y') }}</small>

            
        </li>
          {% endfor %}
        
      </ul>
    </div>
  </div>

</div>
  


{% endblock %}